{{- $path := .src -}}
{{- $alt := .alt | default "" -}}
{{- $class := .class | default "" -}}
{{- $sizes := .sizes | default "(min-width: 1100px) 52vw, 100vw" -}}
{{- $loading := .loading | default "lazy" -}}
{{- with resources.Get $path -}}
  {{- $small := .Resize "720x webp q92" -}}
  {{- $medium := .Resize "1280x webp q93" -}}
  {{- $large := .Resize "1920x webp q94" -}}
  {{- $retinaWidth := 2560 -}}
  {{- if lt .Width $retinaWidth -}}
    {{- $retinaWidth = .Width -}}
  {{- end -}}
  {{- $retina := .Resize (printf "%dx webp q95" $retinaWidth) -}}
  <picture class="responsive-picture {{ $class }}">
    <source
      type="image/webp"
      srcset="{{ $small.RelPermalink }} {{ $small.Width }}w, {{ $medium.RelPermalink }} {{ $medium.Width }}w, {{ $large.RelPermalink }} {{ $large.Width }}w, {{ $retina.RelPermalink }} {{ $retina.Width }}w"
      sizes="{{ $sizes }}"
    >
    <img
      src="{{ .RelPermalink }}"
      width="{{ .Width }}"
      height="{{ .Height }}"
      alt="{{ $alt }}"
      loading="{{ $loading }}"
      decoding="async"
      {{ if eq $loading "eager" }}fetchpriority="high"{{ end }}
    >
  </picture>
{{- else -}}
  {{- errorf "Image not found in assets: %s" $path -}}
{{- end -}}
