{{- $path := .src -}}
{{- $alt := .alt | default "" -}}
{{- $class := .class | default "" -}}
{{- $sizes := .sizes | default "(min-width: 1100px) 52vw, 100vw" -}}
{{- $loading := .loading | default "lazy" -}}
{{- $zoomLabel := site.Home.Params.a11y.enlarge_image | default "Enlarge image" -}}
{{- with resources.Get $path -}}
  <button
    type="button"
    class="image-zoom-trigger{{ with $class }} {{ . }}{{ end }}"
    aria-label="{{ $zoomLabel }}{{ with $alt }}: {{ . }}{{ end }}"
    aria-controls="image-lightbox"
    aria-haspopup="dialog"
    data-image-zoom-trigger
    data-image-src="{{ .RelPermalink }}"
  >
  {{- if eq .MediaType.SubType "gif" -}}
    <picture class="responsive-picture">
      <img
        src="{{ .RelPermalink }}"
        width="{{ .Width }}"
        height="{{ .Height }}"
        alt="{{ $alt }}"
        loading="{{ $loading }}"
        decoding="async"
        data-animated-image
      >
    </picture>
  {{- else -}}
    {{- $small := .Resize "720x webp q92" -}}
    {{- $medium := .Resize "1280x webp q93" -}}
    {{- $large := .Resize "1920x webp q94" -}}
    {{- $retinaWidth := 2560 -}}
    {{- if lt .Width $retinaWidth -}}
      {{- $retinaWidth = .Width -}}
    {{- end -}}
    {{- $retina := .Resize (printf "%dx webp q95" $retinaWidth) -}}
    <picture class="responsive-picture">
      <source
        type="image/webp"
        srcset="{{ $small.RelPermalink }} {{ $small.Width }}w, {{ $medium.RelPermalink }} {{ $medium.Width }}w, {{ $large.RelPermalink }} {{ $large.Width }}w, {{ $retina.RelPermalink }} {{ $retina.Width }}w"
        sizes="{{ $sizes }}"
      >
      <img
        src="{{ .RelPermalink }}"
        width="{{ .Width }}"
        height="{{ .Height }}"
        alt="{{ $alt }}"
        loading="{{ $loading }}"
        decoding="async"
        {{ if eq $loading "eager" }}fetchpriority="high"{{ end }}
      >
    </picture>
  {{- end -}}
  </button>
{{- else -}}
  {{- errorf "Image not found in assets: %s" $path -}}
{{- end -}}
